
@font-face {
    font-family: 'Ivy'; 
    src: url("../fonts/Helvetica\ Now\ Display.woff2") format("woff2");
    font-weight: 400; 
}

@font-face {
    font-family: 'IvyBold';
    src: url("../fonts/Helvetica\ Now\ Display\ Bold.woff2") format("woff2");
    font-weight: 700;
}

* ::selection {
    background-color: rgba(0, 0, 0, 0.729); 
    color: white; 
}
/* Achtergrondafbeelding en header */


:root {
    color-scheme: light dark;
    --color-text: light-dark(black, white); 
    --color-background: light-dark(white, black); 
    --line-color: light-dark(darkgrey, black);
    --line-color-light: light-dark(rgba(0, 0, 0, 0.2), white);
    --color-vak: #151623; 
    --color-text-vak: white; 
}

header section:nth-of-type(1) {
    flex-direction: row-reverse;
    display: flex;

}
    

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.background-container {
    opacity: 0;
    animation: fadeIn 2s ease-out forwards; 
}


        
.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../img/portfoliobackbig.png'); 
  background-size: cover; 
  background-position: center; 
  color: black; 
  display: flex;
  flex-direction: column;
}

     

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}



header h1 {
  font-size: 10em;
  text-transform: uppercase;
  margin: 0;
  
}

header h2 {
    font-size: 10em;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    color: black;
    margin-left: 4em;

  }


/* Main Section */

main section:nth-of-type(1) h2 {
    font-size: 3em;
 
}

main section:nth-of-type(1) p {
    font-size: 1.3rem;
    color: black;
    margin-left: 1.5em;  
 
}

.button {
    margin: 10px;
    text-decoration: none;
    padding: 9px 23px;
    background-color: #000000;
    color: white;
    border-radius: 30px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    font-family: "IvyBold";
}

main .button:hover {
    background-color: #1a242e;
}

/* Projects Section */

main section:nth-of-type(1) h2 {
    border-bottom: solid 1.1px var(--line-color); 
    line-height: 5em;
    text-transform: uppercase;
  
}

main section:nth-of-type(2) img:first-of-type {
    width: 20%;
}

main section:nth-of-type(2) {
    color: black;
    padding-top: 10em;
    font-family:"Ivy";
    padding: 2em;
}

main section:nth-of-type(2) h2 {
    color: black;
    font-family:"Ivy";
    font-size: 5em;
    text-transform: uppercase;
}

main section:nth-of-type(3) h3 {
    color: black;
    font-family:"Ivy";
    font-size: 3em;
    text-transform: uppercase;
    margin-left: 0.6em;
    text-align: center;
}



.button-with-arrow {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: "IvyBold";
    margin: 2em;

}

.button-with-arrow:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.button-with-arrow .arrow {
    margin-left: 8px;
    transition: transform 0.3s ease;
}

.button-with-arrow:hover .arrow {
    transform: translateX(5px);
}


/* projecten */

.photo-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    padding: 10px; 
    border: 1px solid #ddd; 
}

/* Stijl voor afbeeldingen */
.photo-collage img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.photo-collage img:hover {
    transform: scale(1.05); /* Zoom de foto iets in */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Verhoog de schaduw */
}

.button {
    margin: 10em;
    text-decoration: none;
    padding: 9px 23px;
    background-color: #000000;
    color: white;
    border-radius: 30px;
    font-size: 2rem;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    font-family: "IvyBold";
    justify-content: center;
}

.button:hover {
    background-color: white; 
}


main > h2 {
    font-size: 10em;
    text-align: center;
}

.download-btn {
    background-color: black;
    color: white;
    padding: 0.2em;
    position: relative;
    bottom: 0.9em;
    right: 14em;
    
}


.skill-button {
    text-decoration: none;
    padding: 2.3em 4em 2em;
    background-color: black;
    color: #fff;
    border-radius: 1px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    font-family: "IvyBold";
    flex-wrap: wrap;
    position: relative;
    left: 1.2em;
}

.skill-button img {
    width: 4%;
    height: 5%;
   position: relative;
   top: 1.1em;
}

.skill-button:hover {
    transform: scale(1.1);
    background-color: #403f3f;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 1.5em;
    text-decoration: none;
    list-style-type: none;
    line-height: 3em;
 
}

footer > section:nth-of-type(3) {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap:1em; 
    flex-wrap: wrap;
    text-decoration: none;
    list-style-type: none;
}

footer > section:nth-of-type(1) h2 > img {
    width: 8em;
    padding-top: 1rem;
}



footer > section:nth-of-type(2) h3, h4 {
    width: 8em;
    padding-top: 1rem;
    font-family: "IvyBold";
    text-decoration: none; 
    list-style-type: none; 
}

footer > section:nth-of-type(2) ul {
    display: flex;
    gap: 1rem;
    list-style-type: none; 
  
}

footer > section:nth-of-type(2) ul img {
    width: 40%;
    height: 90%;
}

footer > section:nth-of-type(3) article {
    margin-bottom: 1rem;
    font-size: 1.5em;
    list-style-type: none; 
}

footer > section:nth-of-type(4) p:first-of-type {
    font-size: 1.5rem;
    font-family: "Ivy";
    list-style-type: none; 
}

footer > section:nth-of-type(4) p:last-of-type {
    font-size: 1rem;
    font-family: "Ivy";
    color: grey;
    order: -1;
    
}

footer ul {
    gap: 4em;
    text-decoration: none;
    padding: 0;
    margin: 0; 
    order: 1;
    list-style-type: none; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

footer ul a {
 
    text-decoration: none;
    color: white;
    list-style-type: none; 
}

footer ul a:hover{
 
   text-decoration: underline;
}

footer img {
    width: 5em;
    padding-right: 2em;
}

/* Navigation Styles */
/* Algemene opmaak voor de navigatie */
.main-nav { 
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtiele schaduw */
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 10px;
}

.nav-item.logo img {
    height: 40px; /* Pas aan naar gewenste grootte */
}

.nav-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: #007bff; /* Mooie blauwe kleur bij hover */
}

.nav-item a[target="_blank"] {
    text-decoration: underline; /* Extra indicatie voor externe links */
}


@media (max-width: 1200px) {
    header h1 {
        font-size: 10em;
    }

    header section:nth-of-type(1) img {
        width: 50%;
        padding-left: 3em;
    }

    header section:nth-of-type(1) h2 {
        font-size: 5em;
    }

    .photo-collage {
        grid-template-columns: repeat(3, 1fr);
    }

    main > h2 {
        font-size: 6em;
    }

    .button {
        font-size: 1.5rem;
    }
    main section:nth-of-type(1) h2 {
        font-size: 1em;
    }

    .download-btn {
        left: 10em;
    }
    .skill-button {
        z-index: 10000;
        background-color: white;
        text-decoration: none;
        color: black;
        border-radius: 1px;
        font-size: 1rem;
        border-radius: 2em;
        cursor: pointer;
        font-family: "IvyBold";
        flex-wrap: wrap;
        gap: 15em;
    }
    
    .skill-button img {
        width: 10%;
        height: 10%;
    }
    

}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header section:nth-of-type(1) img {
        width: 50%;
        height: 40%;
        padding-left: 0;
    }

    header h1 {
        font-size: 4em;
    }

    header section:nth-of-type(1) h2 {
        font-size: 3em;
    }

    main > h2 {
        font-size: 4em;
    }

    main section:nth-of-type(2) img {
        width: 100%;
    }

    .photo-collage {
        grid-template-columns: 1fr;
    }

    .button-with-arrow {
        font-size: 1rem;
        padding: 8px 18px;
        
    }

    .button {
        font-size: 1.2rem;
    }

  
}

@media (max-width: 480px) {
    .button {
        font-size: 1.1rem;
        padding: 8px 20px;
    }

    main > h2 {
        font-size: 3em;
    }

    footer > section:nth-of-type(2) ul img {
        width: 60%;
        height: auto;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin: 5px 0;
    }

    .nav-item a {
        font-size: 1.2rem;
    }

    .background-container {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url('../img/portfoliobackbig.png'); 
        background-size: cover; 
        background-position: center; 
        color: black; 
        display: flex;
        flex-direction: column;
      }
      header h2 {
        font-size: 4em;
      }
}